.Rproj.user
.Rhistory
.RData
.Ruserdata
Tareas_old/
old/
Diapositivas/Clase0
Diapositivas/Clase02
Diapositivas/Clase03
Diapositivas/Clase04
Diapositivas/Clase05
Diapositivas/Clase06
Diapositivas/Clase07
Diapositivas/Clase08
Diapositivas/Clase09
Diapositivas/Clase010
Diapositivas/Clase011
